/* Center the whole container */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Form wrapper */
.container {
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Form heading */
.frm-heading {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
.main-frm input[type="text"],
.main-frm input[type="email"],
.main-frm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    /* border: 1px solid #dbdada; */
    border:none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}

/* Button */
.main-frm button {
    width: 100%;
    padding: 10px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.main-frm button:hover {
    background: #3578c8;
}

/* Redirect text */
.redirect-txt {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.redirect-txt a {
    text-decoration: none;
    color: #4a90e2;
}
.redirect-txt a:hover {
    text-decoration: underline;
}
/* Home Button */
.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding:10px;
    margin-left:9px;
}

.home-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #2c2c2c;
    font-weight: 500;
}
a p{
    font-weight: 600;
    font-size: 24px;
}
.home-btn a:hover {
    color: #000;
}
.home-icon{

}
