/* Center the whole container */
/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.auth-container{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width:100%;
}
/* Form wrapper */
.auth-inside-container {
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 350px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Form heading */
.auth-frm-heading {
    text-align: center;
    margin-bottom: 20px;
}

/* Inputs */
.main-frm input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f1f1f1;
}
.main-frm input:focus{
    outline: none;
    background-color: #f1f1f1;

}

/* Button */
.main-frm button {
    width: 100%;
    padding: 10px;
    background: #4a90e2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.main-frm button:hover {
    background: #3578c8;
}

/* Redirect text */
.redirect-txt {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.redirect-txt a {
    text-decoration: none;
    color: #4a90e2;
}
.redirect-txt a:hover {
    text-decoration: underline;
}
/* Home Button */
.home-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding:10px;
    margin-left:9px;
}

.home-btn a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #2c2c2c;
    font-weight: 500;
}
a p{
    font-weight: 600;
    font-size: 24px;
}
.home-btn a:hover {
    color: #000;
}
.alert-box {
  position: fixed;
  top: 20px;
  right: 50%;
  padding: 15px 20px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: none;
  z-index: 9999;
  animation: fadeInOut 4s;
}

.alert-success { background: #28a745; }
.alert-error   { background: #dc3545; }

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
.auth-pass{
    height: fit-content;
     width: 100%;
     padding: 10px;       
    margin: 8px 0;
    display: flex;
    justify-content: space-between;
        background-color: #f1f1f1;
        align-items:center ;
          border-radius: 5px;
    box-sizing: border-box;

}
.auth-pass input{
    border:none;
     padding: 0;         
    margin: 0;
    background: transparent;
    flex: 1;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #f1f1f1 inset;
    -webkit-text-fill-color: #000;
    transition: background-color 9999s ease-in-out 0s;
}

