body {
font-family: Arial, sans-serif;
background: #f5f6fa;
margin: 0;
padding: 0;
}

.page-wrapper {
    width:100%;
        box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* NAVBAR */
.navbar {
    width:100%;
background: #083f91;
padding: 15px 40px;
    box-sizing: border-box;

/* padding-right: 60px; */
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
.footer{    
    background: #004a9f; /* Blue color */
    color: white;
    text-align: center;
    padding: 60px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}

.footer-links a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.footer-links a:hover {
    opacity: 0.8;
}

.divider {
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.footer p {
    margin: 0;
    font-size: 14px;
    opacity: 0.9;
}
#home-section{
        flex-grow:1;

    padding-bottom: 40px;
    margin-bottom:20px;
}
#borrowed-section{
    flex-grow:1;
    margin-bottom:20px;
}
#reservation-section{
     flex-grow:1;
    margin-bottom:20px;
}
.logo {
font-size: 22px;
font-weight: bold;
display: flex;
align-items: center;
gap: 10px;
}
.logo a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color:white
}
.logo-img{
     max-height: 32px;        /* image matches the .logo height */
    width: auto;         /* keeps aspect ratio */
    object-fit: contain; /* prevents stretching */
}

.nav-links {
display: flex;
align-items: center;
justify-content:flex-end;
}
.nav-links a {
color: #fff;
margin-right: 25px;
font-weight: 500;
font-size: larger;
text-decoration: none;
}

  .menu-icon {
    display: none; 
    z-index: 3000;
    position: relative;
} 
   

.nav-links a:hover {
text-decoration: underline;
}


/* SEARCH BAR */
.search-bar {
margin: 20px auto;
max-width: 900px;
display: flex;
gap: 10px;
    position: relative; 

}


.search-input {
flex: 1;
padding: 12px;
font-size: 15px;
border-radius: 6px;
border: 1px solid #ccc;
}
.inp-box{
    position: relative;
    flex:1;
    display: flex;
    align-items: center;
}
.clear-btn{
     border: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.6;
       position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
        font-size: 18px;
    opacity: 0.6;
}
.clear-btn:hover {
    opacity: 1;
}
.search-btn {
padding: 12px 18px;
background:  #083f91;
color: white;
border-radius: 6px;
border: none;
cursor: pointer;
}

.avail-books{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
/* FILTER TAGS */
.filters {
max-width: 1000px;
margin: 10px auto 25px;
display: flex;
gap: 12px;
flex-wrap: wrap;
}


.filter-btn {
padding: 6px 18px;
border-radius: 20px;
background: #e8e8e8;
cursor: pointer;
font-size: 14px;
border: 1px solid #ccc;
}


.filter-btn.active {
background:  #083f91;
color: #fff;
border-color:  #083f91;
}
/* BOOK GRID */
.book-grid {
max-width: 1100px;
margin: auto;
display: grid;
grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
gap: 20px;
}


.book-card {
background: #fff;
padding: 15px;
border-radius: 8px;
box-shadow: 0 2px 8px rgba(0,0,0,0.1);
text-align: center;
transition: transform 0.25s ease, box-shadow 0.25s ease;

}
.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.book-card img {
width: 120px;
height: 160px;
object-fit: cover;
margin-bottom: 10px;
border-radius: 6px;
}


.title {
font-size: 16px;
font-weight: bold;
margin-bottom: 6px;
}


.author {
font-size: 14px;
color: #555;
margin-bottom: 6px;
}


.category-tag {
display: inline-block;
padding: 3px 8px;
background: #eef3ff;
color:  #083f91;
border-radius: 6px;
font-size: 12px;
margin-bottom: 10px;
}
.due-date{
   font-size: 14px;
color: #555;
margin-bottom: 6px;
}

.availability {
font-size: 14px;
font-weight: bold;
margin-bottom: 10px;
}


.available {
color: green;
}


.out-stock {
color: red;
}


.borrow-btn {
width: 100%;
padding: 8px 0;
background:  #083f91;
color: #fff;
border: none;
border-radius: 6px;
cursor: pointer;
}


.borrow-btn.disabled {
background: #aaa;
cursor: not-allowed;
}
.section-title {
    font-size: 24px;
    margin: 20px 0;
    text-align: left;
    font-weight: 700;
}
.dropdown {
    display: none;
    position: absolute;
    z-index:999;
    right: 0;
    top: 48px;
    background: #fff;
    width: 160px;
    border-radius: 8px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.dropdown a {
    display: block;
    padding: 12px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #eee;
}

.dropdown a:hover {
    background: #f2f2f2;
}
#change-pass-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pass-modal{
      position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.form-modal{
      background: #fff;
    width: 380px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
    animation: fadeIn 0.3s ease;
}
.form-modal h1{
    text-align: center;
    margin-bottom: 20px;
}
.form-modal input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}
/* Buttons */
.modal-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.cancel-btn {
    background: #bbb;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.cancel-btn:hover {
    background: #999;
}

.save-btn {
    background: #0078ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.save-btn:hover {
    background: #005fcc;
}
.suggest-box {
    position: absolute;
    top: 100%;   /* appear below input */
    left: 0;
    width: 100%;
    background: white;
    /* border: 1px solid #ccc; */
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggest-item {
    padding: 8px;
    cursor: pointer;
}

.suggest-item:hover {
    background: #eee;
}
#about-us{
       max-width: 900px;
        margin: 40px auto;
        background: white;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #003b80;
    }

    .sec-title {
        font-size: 20px;
        font-weight: 600;
        margin-top: 30px;
        color: #003b80;
    }

    p {
        line-height: 1.8;
        font-size: 16px;
    }
    #contact{
        flex:1;
          max-width: 900px;
        margin: 40px auto;
        background: white;
        padding: 40px;
        border-radius: 15px;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    }
  #contact h1 {
        text-align: center;
        margin-bottom: 30px;
        color: #003b80;
    }

   .contact-frm label {
        font-weight: 500;
        display: block;
        margin-top: 15px;
    }

    .contact-frm input, textarea {
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #ccc;
        margin-top: 8px;
        font-size: 15px;
    }

   .contact-frm textarea {
        height: 130px;
        resize: none;
    }

   .contact-frm button {
        margin-top: 20px;
        width: 100%;
        padding: 14px;
        background: #004a9f;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.25s;
    }

  .contact-frm  button:hover {
        background: #003775;
    }
    /* reservation section */
    /* #reservation-section{
    } */
    .reservation-controls {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
}

.filter-dropdown {
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    background: #ffffff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: 0.2s ease;
}

.filter-dropdown:hover {
    border-color: #888;
}

.filter-dropdown:focus {
    outline: none;
    border-color: #0066ff;
    box-shadow: 0 0 4px rgba(0, 102, 255, 0.4);
}
.edit-user-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.edit-user-box {
    background: #fff;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    animation: fadeIn 0.2s ease-in-out;
}

.edit-user-box h1 {
    text-align: center;
    margin-bottom: 20px;
}
#editProfileForm{
    padding:10px;
}

#editProfileForm input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

 .edit-profile-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom:10px;
} 

.profile-cancel-btn, .profile-save-btn, .profile-delete-btn {
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    font-size: 14px;
}

.profile-cancel-btn {
    background: #ddd;
}

.profile-save-btn {
    background: #3498db;
    color: white;
}

.profile-delete-btn {
    width: 100%;
    margin-top: 15px;
    background: #e74c3c;
    color: white;
} 
/* Fade animation */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@media (max-width: 480px) {
    .book-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}
@media (max-width: 768px) {
     .book-grid {
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
    .nav-links {
        display: none;
        flex-direction: column;
        background: #0a3a78;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 15px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.3);
        z-index:9999;
    }

    .nav-links a {
        padding: 10px 0;
        display: block;
    }

    .menu-icon {
        display: block;
         font-size: 28px;
    cursor: pointer;
    z-index: 3000;
    position: relative;
    }

    .nav-links.active {
        display: flex;
    }
    .footer-links a {
        font-size:small;
    }
    .dropdown{
        z-index:9999;
    }
}
.alert-box {
  position: fixed;
  top: 20px;
  right: 50%;
  padding: 15px 20px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  display: none;
  z-index: 9999;
  animation: fadeInOut 4s;
}

.alert-success { background: #28a745; }
.alert-error   { background: #dc3545; }

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}
